.speedDial {
    position: fixed;
    right: 3vmax;
    top: 8vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  
  .bg-color{
    background-color: tomato;
  }